@import url(https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext);
@keyframes a {
  0% {
    opacity: 0;
    transform: translate3d(0, 10rem, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}
.fadeInUp {
  animation: a .4s
}
@keyframes b {
  0% {
    opacity: 0;
    transform: translate3d(0, -10rem, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}
.fadeInDown {
  animation: b .4s
}
[class*=" icon-"]:before,
[class^=icon-]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-right-open:before {
  content: "\e800"
}
.icon-cancel:before {
  content: "\e801"
}
body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase
}
h1 {
  font-size: 2.2rem
}
h1,
h2 {
  line-height: 1.1
}
h2 {
  font-size: 1.8rem
}
h3 {
  font-size: 2.2rem
}
h3,
h4 {
  line-height: 1.1
}
h4 {
  font-size: 1.8rem
}
h5,
h6 {
  font-size: 1.6rem;
  line-height: 1.1
}
p {
  font-size: 1.8rem
}
h1,
h2,
h6,
li,
p {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 rgba(0, 0, 0, 0.6), -1px 0 0 rgba(0, 0, 0, 0.6), 1px 0 0 rgba(0, 0, 0, 0.6)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
html {
  font-size: 62.5%
}
body,
html {
  width: 100%;
  height: 100%
}
body {
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  color: #333;
  z-index: 0;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}
.clearfix:after {
  content: "";
  display: block;
  clear: both
}
.btn,
.transition {
  transition: all .25s ease
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 480px;
  z-index: 1
}
.adult {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 1rem;
  z-index: 3;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem
}
ul {
  list-style-type: disc;
  margin-left: 2rem
}
ul li {
  font-size: 1.4rem;
  margin-bottom: .2rem
}
.btnbox {
  width: 100%
}
.btn,
.btnbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}
.btn {
  width: 80%;
  min-height: 5.4rem;
  line-height: 1;
  max-width: 25rem;
  padding: 2rem;
  position: relative;
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1rem;
  border-radius: 50rem;
  cursor: pointer;
}
.btn--primary {
  background-color: #4872b0;
  background-image: linear-gradient(#edff5a 30%, #fffdb2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2), inset 0 2px 2px hsla(0, 0%, 100%, .2)
}
.btn--primary:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .6), inset 0 2px 2px hsla(0, 0%, 100%, .2)
}
.btn--primary:active {
  box-shadow: none;
}
.btn--accent {
  color: #fff;
  background-color: #ffcc43
}
.btn--accent:hover {
  background-color: #ffbe10
}
.stepbox {
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 2
}
.step,
.stepbox {
  width: 100%;
  height: 100%;
  position: relative
}
.step {
  display: none;
  color: #fff
}
.step:first-child {
  display: block
}
.step__inner {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center
}
.step__header {
  position: relative;
  text-align: center;
  -ms-flex: 1;
  flex: 1
}
.step__header .image {
  position: relative;
  width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50rem;
  background-image: url(https://cdn-aimi.akamaized.net/landings/166972/1562654071/images/1h5gjhk1.gif);
}
.step__header .image:after {
  content: "";
  display: block;
  padding-bottom: 100%
}
.step__body {
  position: relative;
  margin-bottom: 1rem
}
.step__body h1,
.step__body h2,
.step__body p {
  text-align: center
}
.step__body ul {
  max-width: 50rem;
  margin: auto;
  padding: 0 0 0 2rem
}
.step__footer {
  position: relative
}
.bg {
  position: fixed !important
}
.bg,
.bg:after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0
}
.bg:after {
  content: "";
  display: block;
  position: fixed;
  background-image: radial-gradient(rgba(0, 0, 0, .4) 50%, transparent 0);
  background-size: 2px 2px
}
.bg__item {
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}
.bg__item.active {
  display: block;
  background-image: url(https://cdn-aimi.akamaized.net/landings/166972/1562654071/images/1h5gjhk1.gif);
}
.bg__item.blur {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  transform: scale(1.02, 1.02);
}
@media (max-height:480px) {
  .adult{
    display:none;
  }
}
@media (min-width:360px) {
  html {
    font-size: 75%
  }
  ul li {
    font-size: 1.6rem;
    margin-bottom: .5rem
  }
  .step__body .image {
    width: 24rem
  }
}
@media (min-width:768px) {
  html {
    font-size: 87.5%
  }
  .step__inner {
    -ms-flex-pack: center;
    justify-content: center
  }
  .step__header {
    -ms-flex: 0;
    flex: 0;
    margin-bottom: 2rem
  }
  .step__header .image {
    width: 25rem
  }
  .step__body {
    margin-bottom: 4rem
  }
}
@media (min-width:1300px) {
  html {
    font-size: 100%
  }
}
.location {
  text-align: center;
  padding: 0 0 15px;
}
.location p {
  font-size: 20px;
}
.numbers {
  color: #ecff52;
  font-weight: 700;
  margin-right: 5px;
}
.city {
  font-weight: 700;
  color: #ebff4c;
}
